*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #eaeaea;
    overflow: hidden;
}
header {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    z-index: 2;
}
header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
 opacity: 50%;
 z-index: -1;
}
header .container .slide .itm .content .name{
  text-shadow: 2px 2px #000;
}
header video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -2;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 600px;
    background: #f5f5f5;
    box-shadow: 0 30px 50px #000000;
}

.container .slide .item{
    width: 200px;
    height: 300px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px #000000;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
}

.slide .item:nth-child(1),
.slide .item:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}


.slide .item:nth-child(3){
    left: 50%;
}
.slide .item:nth-child(4){
    left: calc(50% + 220px);
}
.slide .item:nth-child(5){
    left: calc(50% + 440px);
}

/* here n = 0, 1, 2, 3,... */
.slide .item:nth-child(n + 6){
    left: calc(50% + 660px);
    opacity: 0;
}



.item .content{
    position: absolute;
    top: 50%;
    left: 100px;
    width: 300px;
    text-align: left;
    color: #eee;
    text-shadow: 2px 2px #000;
    box-shadow: -10px #000;
    transform: translate(0, -50%);
    font-family: system-ui;
    display: none;
}


.slide .item:nth-child(2) .content{
    display: block;
}

.content .name{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    box-shadow: -10px #000;
    animation: animate 1s ease-in-out 1 forwards;
}

.content .des {
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: black;
    color: white; /* Ensure text is visible against the black background */
    display: inline-block;
    padding: 5px 10px; /* Adjust padding as necessary */
    opacity: 0;
    box-shadow: -10px #000;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.content .lok {
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: black;
    color: white;
    display: inline-block;
    padding: 5px 10px;
    opacity: 0;
    box-shadow: -10px #000;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.content .harga {
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: black;
    color: white;
    display: inline-block;
    padding: 5px 10px;
    opacity: 0;
    box-shadow: -10px #000;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.content button{
  
    border: none;
    cursor: pointer;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}
button {
    position: relative;
    width: 11em;
    height: 4em;
    outline: none;
    transition: 0.1s;
    background-color: transparent;
    box-shadow: px solid #000;
    border: none;
    font-size: 13px;
    font-weight: bold;
    color: #ddebf0;
  }
  
  #clip {
    --color: #2761c3;
    position: absolute;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border: 5px double var(--color);
    box-shadow: inset 0px 0px 15px #195480;
    -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  }
  
  .arrow {
    position: absolute;
    transition: 0.2s;
    background-color: #2761c3;
    top: 35%;
    width: 11%;
    height: 30%;
  }
  
  #leftArrow {
    left: -13.5%;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 50%);
  }
  
  #rightArrow {
    -webkit-clip-path: polygon(100% 49%, 0 0, 0 100%);
    left: 102%;
  }
  
  button:hover #rightArrow {
    background-color: #27c39f;
    left: -15%;
    animation: 0.6s ease-in-out both infinite alternate rightArrow8;
  }
  
  button:hover #leftArrow {
    background-color: #27c39f;
    left: 103%;
    animation: 0.6s ease-in-out both infinite alternate leftArrow8;
  }
  
  .corner {
    position: absolute;
    width: 4em;
    height: 4em;
    background-color: #2761c3;
    box-shadow: inset 1px 1px 8px #2781c3;
    transform: scale(1) rotate(45deg);
    transition: 0.2s;
  }
  
  #rightTop {
    top: -1.98em;
    left: 91%;
  }
  
  #leftTop {
    top: -1.96em;
    left: -3.0em;
  }
  
  #leftBottom {
    top: 2.10em;
    left: -2.15em;
  }
  
  #rightBottom {
    top: 45%;
    left: 88%;
  }
  
  button:hover #leftTop {
    animation: 0.1s ease-in-out 0.05s both changeColor8,
    0.2s linear 0.4s both lightEffect8;
  }
  
  button:hover #rightTop {
    animation: 0.1s ease-in-out 0.15s both changeColor8,
    0.2s linear 0.4s both lightEffect8;
  }
  
  button:hover #rightBottom {
    animation: 0.1s ease-in-out 0.25s both changeColor8,
    0.2s linear 0.4s both lightEffect8;
  }
  
  button:hover #leftBottom {
    animation: 0.1s ease-in-out 0.35s both changeColor8,
    0.2s linear 0.4s both lightEffect8;
  }
  
  button:hover .corner {
    transform: scale(1.25) rotate(45deg);
  }
  
  button:hover #clip {
    animation: 0.2s ease-in-out 0.55s both greenLight8;
    --color: #27c39f;
  }
  
  @keyframes changeColor8 {
    from {
      background-color: #2781c3;
    }
  
    to {
      background-color: #27c39f;
    }
  }
  
  @keyframes lightEffect8 {
    from {
      box-shadow: 1px 1px 5px #27c39f;
    }
  
    to {
      box-shadow: 0 0 2px #27c39f;
    }
  }
  
  @keyframes greenLight8 {
    from {
    }
  
    to {
      box-shadow: inset 0px 0px 32px #27c39f;
    }
  }
  
  @keyframes leftArrow8 {
    from {
      transform: translate(0px);
    }
  
    to {
      transform: translateX(10px);
    }
  }
  
  @keyframes rightArrow8 {
    from {
      transform: translate(0px);
    }
  
    to {
      transform: translateX(-10px);
    }
  }
  
  
  

@keyframes animate {
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}



.button{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 60px;
    box-shadow: 10px solid #000;
}

.button button{
    width: 40px;
    height: 35px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid #ffffff;
    box-shadow: 10px solid #000;
    transition: 0.3s;
}

.button button:hover{
    background: #ababab;
    box-shadow: 10px solid #000;
    color: #fff;
}
/* Media Query untuk tampilan mobile */
@media screen and (max-width: 991.98px) {
    header {
      
        height: 60vh; /* Mengurangi tinggi header untuk perangkat kecil */
        
    }

    .container {
        width: 90%; /* Menyesuaikan lebar container agar pas di layar kecil */
       
    }

    

    .item .content {
        top: 10%; /* Menurunkan posisi konten untuk tampilan mobile */
        left: 5%;
        width: 40%; /* Mengizinkan teks menggunakan lebih banyak ruang */
      font-size: 10px;
      }

    .content .name {
      margin-top: 310%;
        font-size: 14px; /* Mengurangi ukuran font judul di perangkat kecil */
    }

  
    button {
        width: 8em;
        height: 3em;
        font-size: 12px; /* Mengurangi ukuran tombol */
    }

    .arrow {
        width: 10%; /* Menyesuaikan ukuran panah */
        height: 25%;
    }

    .button {
        top: 500px; /* Mengatur posisi tombol navigasi */
    }

    .button button {
        width: 30px; /* Mengurangi ukuran tombol navigasi */
        height: 30px;
    }

    /* Mengatur ukuran video untuk perangkat kecil */
    header video {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}
